@import url("/colors.css");

*{
    color: inherit;
    border: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    padding-block-start: 0; 
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    text-decoration: none;
}

*:focus,
*:focus-within{
    background: inherit;
    outline: none;
}

/*
 ********************
  Predefined classes 
 ********************
 */

/* Navigation menu */

.navigation-list{
    background-color: var(--menu-background-color);
    color: var(--menu-color);
}

.nav-inline li{
    display: inline-block;
}